:where(.css-dev-only-do-not-override-1me4733).ant-menu-light .ant-menu-item-selected {
    background-color: #E5F7FF;
    margin: 0;
    width: 100%;
    border-radius: 0;
    border-right: #1A90FF 4px solid;
    color: #1A90FF;
    font-weight: 400;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-vertical >.ant-menu-item {
    margin: 0;
    margin-top: 2px;
}
.ant-menu-title-content {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
}

.ant-menu-item .ant-menu-item-active {    
    background-color: #E5F7FF;
    color: #1A90FF;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover { 
    background-color: #fafafa;
    color: #1A90FF;
    width: 100%;
    border-radius: 0;
    
}